@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

html{
    scroll-behavior: smooth;
}

:root {
    --color-contenedor-enfasis: #6b0015;
    --color-texto-enfasis: #ff7062;
}

.container {
    width: 90%;
    margin-top: 5%;
}

.warning {
    color: #6b0015;
}
